/**

Global setting

**/

:root {
  --white: #fff;
  --black: #000;
  --main-color: #f3b600;
  --gray-light: #f7f7f7;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1 rem = 10px*/
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
.btn {
  cursor: pointer;
  padding: 0.8rem 3rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
/**

Main styles

**/
/*** Home page ***/
header {
  background-color: var(--main-color);
  height: 100vh;
  z-index: -1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.5rem;
}
.main-menu {
  display: flex;
  z-index: 3;
}
.main-menu li {
  margin-right: 2.5rem;
}
.main-menu li a {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.logo {
  z-index: 3;
  color: var(--white);
  font-size: 3rem;
  font-weight: 800;
}
.logo span {
  color: var(--main-color);
}
.landing-home-img img {
  position: relative;
  top: -8.5rem;
  width: 100%;
  height: 55vh;
  background-color: rgb(0, 0, 0, 0.2);
  z-index: 2;
}
.car-home-img {
  position: absolute;
  top: 44%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.car-home-img img {
  width: 40rem;
}
.header-top {
  z-index: 4;
  position: absolute;
  top: 17.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
.header-top h2 {
  color: gold;
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  font-weight: 800;
}
.header-top h1 {
  color: var(--white);
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.header-bottom {
  color: var(--black);
  /* width: 65rem; */
  position: absolute;
  bottom: 5%;
  left: 15%;
}
.header-bottom h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.header-bottom h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  width: 32rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.header-bottom p {
  width: 37rem;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.header-bottom-btn {
  background-color: var(--black);
  color: var(--white);
}

/**
*
*
*  order section 
*
*
**/
.order-now {
  height: 90vh;
  margin: 5vh 0 5vh 0;
  padding: 0 8%;
}
.order-now .order-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 2%;
}
.order-now-header {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--black);
}
.order-now-header span {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 600;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: var(--gray-light);
  margin-top: 5rem;
  position: relative;
  height: 29rem;
  border-radius: 0.3rem;
}
/*active state on hover*/
.card-active {
  background-color: var(--main-color);
}
.card:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  width: 5rem;
  height: 5rem;
  border-radius: 100% 0 0;
}
.card-star {
  font-size: 3rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.7rem;
  height: 2rem;
  width: 2rem;
  color: orange;
  z-index: 8;
}
.card-img {
  width: 20rem;
  position: absolute;
  top: -6rem;
  left: 3rem;
}
.card-header {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
.card-paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.card-price {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--main-color);
}
/*active state on hover*/
.card-price-active {
  color: var(--black);
}
.card-btn {
  background-color: var(--main-color);
}
/*active state on hover*/
.card-btn-active {
  background-color: var(--black);
  color: var(--white);
}

/**
*
*
* features section
*
*
**/
.features {
  position: relative;
  width: 100%;
  height: 90vh;
  margin: 5vh 0 5vh 0;
  padding: 0 8%;
  background-image: url(/images/PLace\ BG\ image@1X.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.features .features-container {
  display: grid;
  height: 30rem;
  align-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 4%;
}
.features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
  padding-top: 4rem;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  /* color: var(--black); */
}
.features-header span {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 600;
}
.feat h3 {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}
.feat p {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.features-btn {
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 5rem;
}
