/**

Global setting

**/

:root {
  --white: #fff;
  --black: #000;
  --main-color: #f3b600;
  --gray-light: #f7f7f7;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1 rem = 10px*/
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/**

Main styles

**/
/*** Home page ***/
header {
  background-color: var(--main-color);
  height: 100vh;
  z-index: -1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.5rem;
}
.main-menu {
  display: flex;
  z-index: 3;
}
.main-menu li {
  margin-right: 2.5rem;
}
.main-menu li a {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.logo {
  z-index: 3;
  color: var(--white);
  font-size: 3rem;
  font-weight: 800;
}
.logo span {
  color: var(--main-color);
}
.landing-home-img img {
  position: relative;
  top: -8.5rem;
  width: 100vw;
  height: 55vh;
  background-color: rgb(0, 0, 0, 0.2);
  z-index: 2;
}
.car-home-img {
  position: absolute;
  top: 44%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.car-home-img img {
  width: 40rem;
}
.header-top {
  z-index: 4;
  position: absolute;
  top: 17.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
.header-top h2 {
  color: gold;
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  font-weight: 800;
}
.header-top h1 {
  color: var(--white);
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.header-bottom {
  color: var(--black);
  /* width: 65rem; */
  position: absolute;
  bottom: 5%;
  left: 15%;
}
.header-bottom h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.header-bottom h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  width: 32rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.header-bottom p {
  width: 37rem;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.btn {
  cursor: pointer;
  padding: 0.5rem 3rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header-bottom-btn {
  background-color: var(--black);
  color: var(--white);
}

/*** order page ***/
.order-now {
  margin-top: 5%;
  padding: 0 9%;
}
.order-now .order-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 1%;
}
.order-now-header {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}
.order-now-header span {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 600;
}
.card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: var(--gray-light);
  margin: 5rem 0;
  position: relative;
}
.card-img {
  width: 20rem;
  /* margin-bottom: 5rem; */
  position: absolute;
  top: -6rem;
  left: 1.5rem;
}
.card-header {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.card-paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.card-price {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--main-color);
}
.card-btn {
  background-color: var(--main-color);
}
.active-card {
}
